body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
  background: #f7f9fc;
  color: #0f172a;
}

button {
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
}